
/*layout*/
/*buttons*/
/*base style*/
/*actions*/
  .box{
    width: 290px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border: 2px solid #c0c0c0;
    border-radius: 5px;
    background-color: #ecffff;
    padding: 2px;
  }
  .btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: 5px;
    padding: 10px;
    text-align: center;
    color: #555;
    font-weight: lighter;
    font-size: 180%;
    background-color: #fff;
  }
  .btn:hover{
    background-color: #bcd6ff;
  }
  .btn:active{
    background-color: #e5c495;
  }
  .btn-ac{
    background-color: #fc8e44;
    color: #fff;
  }
  .btn-light-gray{
    background-color: #ddd;
  }
  .btn-dark-gray{
    background-color: #888;
    color: #fff;
  }
  .btn-del{
    background-color: tomato;
    color: #fff;
  }
  .disp{
    padding: 10px;
    margin: 5px;
    width: 255px;
    font-size: 250%;
    margin-bottom: 4px;
    color: #676767;
  }
  .txt-right{
    text-align: right;
  }
